body {
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
}

.homeContainer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.upSection {
  width: 100%;
  text-align: center;
  background: rgb(189, 188, 188);
  background: linear-gradient(
    0deg,
    rgba(189, 188, 188, 1) 18%,
    rgba(241, 240, 240, 1) 50%
  );
  height: 100vh;
}

.categoryModalContainer {
  display: flex;
  align-items: center;
  justify-content: end;
}

.categoryModalContent {
  margin-top: 1rem;
  margin-right: 0;
  width: 9rem;
  background-color: #2b2a2a;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 6px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}

.categoryModal {
  font-family: "Bai Jamjuree", sans-serif;
}

.categoryModalName {
  margin-left: 10px;
  cursor: pointer;
}

.categoryModalList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 1rem;
}

.categoryModalItem {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
  transition: color 0.3s, background-color 0.3s;
}

.categoryModalItem:hover {
  color: #c28b25;
  background-color: #252525;
}

.postSectionTextContainer,
.upsectionTextContainer,
.upSectionIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upsectionTextContainer {
  margin-top: 5rem;
}

.postSectionText,
.upSectionText {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
}

.upSectionIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createPostButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.createPost {
  text-decoration: none;
  display: grid;
  place-content: center;
  width: 140px;
  height: 40px;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #252525;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.createPost:hover {
  background-color: #3f3f3f;
}

.goDown {
  text-decoration: none;
  font-size: 4rem;
  color: #252525;
  margin-bottom: -20rem;
  display: grid;
  transition: color 0.3s;
  transition: transform 0.2s;
}

.goDown:hover {
  color: #3b3b3b;
  transform: translateY(0.5rem);
}

.postSection {
  height: 50vh;
  background: rgb(129, 124, 124);
  background: linear-gradient(
    0deg,
    rgba(129, 124, 124, 1) 18%,
    rgba(189, 188, 188, 1) 50%
  );
  margin: 0;
}

.postSectionTextContainer {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 2.5rem;
}

.bestPost {
  background-color: #252525;
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 6px;
  padding: 7px;
  font-weight: 500;
  transition: background-color .3s;
}

.bestPost:hover {
  background-color: #3f3f3f;
}

.lastSection {
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(50,49,49,1) 71%, rgba(71,69,69,1) 84%, rgba(90,87,87,1) 90%, rgba(129,124,124,1) 99%);
}

.loginInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  padding: 2rem;
}

.loginInfoSectionLink {
  color: #000000;
  background-color: #ffffff;
  padding: 7px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color .3s;
}

.loginInfoSectionLink:hover {
  background-color: #e2dfdf;
}

.infoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20vh;
  font-size: 1.2rem;
  color: #ffffff;
  padding: .5rem;
}

.helpInfoSectionLinks {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.helpInfoSectionLink {
  color: #ffffff;
  text-decoration: none;
}

.helpInfoSectionLink:hover {
  text-decoration: underline;
}

.aboutInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutInfoSectionLinks {
  display: flex;
  margin-top: 1.5rem;
  gap: .5rem;
  font-size: 1.5rem;
}

.aboutInfoSectionLink {
  color: #ffffff;
  text-decoration: none;
}

.politInfoSection {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.politInfoLink {
  color: #ffffff;
}