body {
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;
}

.homeContainer {
  width: 100%;
  margin: 0;
  display: grid;
}

.upSection {
  width: 100%;
  text-align: center;
  background: rgb(189, 188, 188);
  background: linear-gradient(
    0deg,
    rgba(189, 188, 188, 1) 18%,
    rgba(241, 240, 240, 1) 50%
  );
  height: 100vh;
}

.postSectionTextContainer,
.upsectionTextContainer,
.upSectionIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upsectionTextContainer {
  margin-top: 5rem;
}

.postSectionText,
.upSectionText {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 1rem;
}

.upSectionIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createPostButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.createPost {
  text-decoration: none;
  display: grid;
  place-content: center;
  width: 140px;
  height: 40px;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #252525;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.createPost:hover {
  background-color: #3f3f3f;
}

.goDown {
  text-decoration: none;
  font-size: 4rem;
  color: #252525;
  margin-bottom: -20rem;
  display: grid;
  transition: color 0.3s;
  transition: transform 0.2s;
}

.goDown:hover {
  color: #3b3b3b;
  transform: translateY(0.5rem);
}

.postSection {
  height: 50vh;
  background: rgb(129, 124, 124);
  background: linear-gradient(
    0deg,
    rgba(129, 124, 124, 1) 18%,
    rgba(189, 188, 188, 1) 50%
  );
  margin: 0;
}

.postSectionTextContainer {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 2.5rem;
}

.bestPost {
  background-color: #252525;
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 6px;
  padding: 7px;
  font-weight: 500;
  transition: background-color .3s;
}

.bestPost:hover {
  background-color: #3f3f3f;
}

.lastSection {
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(50,49,49,1) 71%, rgba(71,69,69,1) 84%, rgba(90,87,87,1) 90%, rgba(129,124,124,1) 99%);
}

.loginInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}

.loginInfoSectionLink {
  color: #000000;
  background-color: #ffffff;
  padding: 7px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color .3s;
}

.loginInfoSectionLink:hover {
  background-color: #e2dfdf;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 15vh;
  font-size: 1.2rem;
  color: #ffffff;
}

.aboutInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutInfoSectionLinks {
  display: flex;
  gap: .5rem;
  font-size: 1.5rem;
}

.aboutInfoSectionLink {
  color: #ffffff;
  text-decoration: none;
}

.politicInfo {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.politicInfo a {
  color: #ffffff;
}

.AboutLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.AboutLinks a {
  margin: .5rem;
}

@media screen and (min-width: 768px) {

  .upsectionTextContainer {
    margin: auto 2rem;
    margin-top: 8rem;
  }

  .upSectionText {
    font-size: 1.4rem;
  }

  .createPostButtonContainer {
    margin-top: 3rem;
  }

  .createPost {
    font-size: 1.3rem;
    padding: .3rem;
  }

  .upSectionIcons {
    margin-top: 10rem;
  }

  .goDown {
    font-size: 3.5rem;
  }

  .postSectionTextContainer {
    margin: auto 3rem;
    margin-top: 8rem;
  }

  .postSectionText {
    font-size: 1.4rem;
  }

  .bestPost {
    font-size: 1.4rem;
    padding: .5rem;
  }

  .loginInfoSection {
    font-size: 1.4rem;
  }

  .loginInfoSectionLink {
    padding: .6rem;
  }

  .aboutInfoSectionLink {
    font-size: 1.5rem;
  }

  .AboutLinks {
    margin-top: 5rem;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 853px){

  .upSection {
    margin-top: 2rem;
  }

  .search,
  .showSearch {
    margin-right: 0rem;
  }

  .goDown {
    margin-top: -28rem;
    font-size: 4.5rem;
  }

  .upSection {
    height: 50vh;
  }

  .upsectionTextContainer {
    margin-top: 3rem;
  }

  .postSection {
    height: auto;
  }

  .postSectionTextContainer {
    margin-top: 1rem;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .lastSection {
    height: auto;
    padding-bottom: 3rem;
  }

  .infoSection {
    margin-top: 11rem;
  }

  .loginInfoSection {
    padding: 0rem 4rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1024px) {
 .upSectionText,
 .postSectionText,
 .loginInfoSectionText {
  font-size: 1.7rem;
 } 

 .goDown {
  display: none;
}

}

@media screen and (min-height: 1024px) {
  .upSection {
    height: auto;
  }

  .goDown {
    display: none;
  }

  .postSection {
    height: 30vh;
  }

  .postSectionTextContainer {
    margin-top: 0rem;
  }

  .lastSection {
    padding-bottom: 3rem;
    height: auto;
  }

  
}