@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.allPostContainer {
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .allPostContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width: 820px) {
    .allPostContainer {
        margin-top: 4rem;
    }
}